<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script> -->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>
  <body>
    <h1>Hello</h1>
    <p>This is My Vue 3 Playground!!!</p>
    <div id="vue-3-app">
      <h2>{{ message }}</h2>
      <p v-if="message.length %2 === 0">Even - {{ message }}</p>
      <p v-else>Odd - {{ message }}</p>

      <ul>
        <li v-for="number in listOfNumbers" :key="number">{{ number }}</li>
      </ul>
    </div>

    <script type="module">
      import { createApp } from 'vue'

      const app = createApp({
        data() {
          return {
            message: 'Hello Vue 3!!',
            listOfNumbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          }
        }
      })

      app.mount('#vue-3-app')
    </script>
  </body>
</html>
